
/*footer styles start*/
.decription-footer {
  margin: 0 auto;
  overflow-x:hidden;
  background-color: #003399;
  color: #ffffff;
}

/*First left side footer styles start*/
.first-left {
 display: flex;
 float: left;
 margin-left: 50px;
}

.first-left ul {
 list-style: none;
 justify-content: center;
 align-items: center;
}

 .about-footer-links {
 justify-content: center;
}

 .first-left li{
 display: flex;
 justify-content: center;
}

.first-left p {
 font-size: 15px;
}
 
.medimart-logo  {
 width: 150px;
 background-color: #ffffff;
 border-radius: 90px;
 margin-top: 20px;
 margin-bottom: 20px;
}

.footer-social-links a{
 margin: 0px 25px 0px 0px;
 text-decoration: none;
}

.foot-facebook-logo {
 width: 25px;
}

.foot-messenger-logo{
 width: 25px;
}

.foot-whatsapp-logo {
 width: 25px;
}

.foot-email-logo {
width: 25px;
}
/*First left side footer styles end*/

/*Second left side footer styles start*/
.second-left {
display: flex;
float: left;
margin: 15px 100px 0px 100px;
}

 .second-left ul {
  list-style-image: url('images/MediMartUlLogo.png');
  margin-top: 20px;
}

 .second-left li {
  margin-top: 20px;
  font-size: 17px;
  color: #ffffff;
}

 .second-left a:hover {
  color: black;
  text-decoration: none;
}

 .second-left a {
  color: #ffffff;
  margin-left: 10px;
}
/*Second left side footer styles end*/

/*Center area footer styles start*/
.foot-center {
  float: none;
  position: absolute;
  margin-left: 38%;
}

.foot-center ul{
  list-style: none;
}

.foot-center li {
  margin-top: 20px;
}

.foot-center li a{
  color: #ffffff;
}

.custemercare {
  width: 300px;
}

.contact-number-links a:hover {
  color: black;
  text-decoration: none;
}

.cutomercare-logo {
  width: 20px;
}

.physicalstore-logo {
  width: 20px;
}
/*Center area footer styles end*/

/*First right side footer styles start*/
.first-right {
  display: block;
  float: left;
  margin-left: 375px;
  padding-top: 30px;
}

.first-right ul {
  list-style-image: url('images/openhoursfoot.png');
}

 .first-right h5 {
  margin-top: 15px;
}

.first-right li {
  margin-top: 15px;
}
/*First right side footer styles end*/

/*Second right side footer styles start*/
.second-right {
  display: block;
  float: right;
  margin-right: 50px;
  padding-top: 30px;
}

.second-right ul {
  list-style: none;
}

.second-right li {
  margin-top: 20px;
}

.second-right a {
  color: #ffffff;
  text-decoration: none;
}

.second-right a:hover {
  color: #000000;
}

.second-right h5 {
  margin-top: 20px;
}

.footer-location-logo {
  width: 20px;
}

.footer-fastdelivery-logo {
  width: 110px;
}

.footer-freedelivery-logo {
  width: 130px;
}

 .footer-safedelivery-logo {
  width: 100px;
}

.second-right form {
  background: none;
}

input[type=text], input[type=submit] {
  background: #ffffff;
  padding: 12px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 25px;
}


input[type=submit] {
  background-color: #95a198;
  color: white;
  border: none;
  border-radius: 25px;
}

input[type=submit]:hover {
  background: #ffffff;
  color: #000000;
}


/*Second right side footer styles end*/

/*Payment links area footer styles start*/
.payment-links {
  display: flex;
  margin-bottom: 0px;
  margin: 0;
  width: 100%;
  background: #95a198;
  padding-left: 35%;
}

.decription-footer .payment-links a {
  
}

 .bank-logo {
  width: 35px;
}

 .visa-logo {
  width: 40px;
}

 .master-logo {
  width: 40px;
}

 .paypal-logo {
  width: 55px;
}

 .vishwa-logo {
  width: 40px;
}

 .amex-logo {
  width: 40px;
}

 .frimi-logo {
  width: 40px;
}

 .genie-logo {
  width: 45px;
}

 .ezcash-logo {
  width: 40px;
}

 .lakpay-logo {
  width: 35px;
}

 .upay-logo {
  width: 40px;
}

 .mcash-logo {
  width: 40px;
}
/*Payment links area footer styles end*/
 /*All footer styles end*/